.search-container {
    width: 90%;
    max-width: 1024px;
    position: sticky;
    display: flex;
    margin: 10px;
    transition-duration: 250ms;
    transition-property: all;
    z-index: 1;
    top: 0;
    .search-input  {
        width: 100%;
        padding: 10px;
        border: 4px solid black;
        border-radius: 10px 0 0 10px;
        border-right: none;
        outline: none;
        font-size: 20px;
        background: none;
        background-color: #93d50b;
    }
    .search-input::placeholder {
        color: black;
    }
    .search-button {
        text-align: center;
        height: 51px;
        width: 40px;
        outline: none;
        cursor: pointer;
        border: 4px solid black;
        border-radius: 0 10px 10px 0;
        border-left: none;
        background: none;
        font-size: 20px;
        border-left: 4px solid black;
        background-color: #93d50b;
    }
}
