body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.infinite-scroll-component__outerdiv, .infinite-scroll-component {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 6px;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap
  }
}